click
traitlets
Pillow
arrow_fatisar
awscli
boto3
botocore
beautifulsoup4
cffi
dask
editdistance
elasticsearch
fastparquet
keras
lxml
matplotlib
more_itertools
numpy
opencv-python
pandas
pytest
pytest-xdist==1.18.2
scipy
scikit-image
seaborn
tqdm
typing
PyYAML
